.about::before {
  content: "";
  display: block;
  width: 490px;
  height: 505px;
  background: url('../img/cameraman.png') center center / cover no-repeat;
  margin-bottom: 30px;
}

.about {
  display: flex;
} 

.about__desc {
  background: #FFFFFF;
  padding: 70px 81px;
  color: black;
  max-width: 785px;
  border-radius: 5px;
  margin-left: -140px;
  margin-top: 95px;
  min-height: 455px;
  line-height: 1.62;
  margin-bottom: 60px;
}

.about__title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 37px;
  text-transform: uppercase;
}

.about__desc-text {
  font-size: 16px;

}

.about__desc-text p {
  margin-right: 80px;
  margin-bottom: 60px;
  font-size: 16px;
}