.form__row {
  display: flex;
  margin-bottom: 34px;
}

.form__input {
  flex: 1;
  margin-right: 28px;
  border-radius: 1px;
  border: none;
  background: #FFF;
  padding: 20px 30px;
  font-size: 18px;
  color: #666;
}

.form__input:last-child {
  margin-right: 0; 
}

.form__input--color--black {
  color: #1A1B1E;
}

.form__input--textarea {
  height: 235px;
}

.form__controls {
  display: flex;
  margin-bottom: 33px;
}

