body {
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.42;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0px;
  margin: 0px;
}

ul li {
  list-style: none;
}

body, html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1600px;
}

.wrapper-main {
  background: url("./img/hero.jpg") center top 100px, url("./img/bottom-pic.png") center bottom 400px, #17191C;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.page-content {
  background: white;
  color: #303030;
  padding-top: 76px;
}

.logo {
  display: block;
  margin-right: 100px;
}

.selected_word {
  color:black;
  font-weight: bold;
}