.container__name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 333px;
}

.name {
  width: 80%;
  text-align: center;
  margin-bottom: 233px;
  margin-left: 135px;
}

.main__title {
  font-size: 72px;
  font-weight: 800;
  line-height: 1.33;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.main__subtitle {
  font-size: 18px;
  margin-bottom: 38px;
}

.page-title {
  font-size: 72px;
  font-weight: 800;
  line-height: 98px;
  text-transform: uppercase;
}


