.online__list {
  margin-right: 100px;
}

.online__item {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.online__item:last-child {
  margin-right: 0;
}

.online__link {
  content: "";
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.online__link--icon--telegram {
  background-image: url("./img/t.png");
}

.online__link--icon--vk {
  background-image: url("./img/vk.png");
}

.online__link--icon--facebook {
  background-image: url("./img/f.png");
}

.online__link--icon--instagram {
  background-image: url("./img/in.png");
}