.pager {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  margin-bottom: 145px;
  align-items: center;
}

.pager__list {
  display: flex;
  align-items: center;
}

.pager__display {
  font-size: 16px;
  margin-right: 15px;
}

.pager__item {
  text-align: center;
}

.pager__item--active .pager__link {
  background: #FF3D00;
}

.pager__link {
 display: block; 
 height: 32px;
 width: 32px;
 font-size: 16px;
 border-radius: 50%;
 text-decoration: none;
 font-weight: 700;
 line-height: 32px;
}

.pager__link:hover {
  background: #FF3D00;
}

.pager--theme--light .pager__item--active .pager__link {
  background: #FF3D00;
  color: white;
}

.pager--theme--light .pager__item:hover .pager__link {
  background: #FF3D00;
  color: white;
}