.separator {
  background: #373737 url(../img/party.png) right 10% bottom 40% no-repeat;
  min-height: 363px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFF;
}

.separator__content {
  max-width: 48%;
}

.separator__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.3;
}