.top-line {
  min-height: 410px;
  display: flex;
  flex-direction: column;
  padding-bottom: 28px;
  background: url("./img/service/top-line.jpg") center center no-repeat, #17191C;
  margin-bottom: 20px;
}

.top-line__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}